<div class="top-box">
  <h1 class="header">ようこそ<strong> Bookers </strong>へ!</h1>

  <p class="header-tag">
    <strong>Bookers </strong>では、さまざまな書籍に関するあなたの意見や</p>

  <p class="header-tag">印象を共有し交換することができます</p>

  <div class="top-link"><%= link_to 'start',"/books" %></div>
</div>